<!DOCTYPE html>
<html lang="en">

    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Mars Stuff</title>
      </head>
      <body>
        
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars </h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>


        <div class="container">
            <div class='row'>
                <div class='col-lg-12' style="padding-right: 20px; padding-left: 20px;">
                    <div class="NasaArticles">
                        <b><u><h3>Latest Mars News</h3></u></b>
                        <b><h4 style="text-decoration: solid;">{{mars.nasa_headline}}</h4></b>
                        <p>{{mars.body_teaser}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <b><u><h3>Featured Image</h3></u></b>
                    <img src="{{mars.image_url}}" alt="Nasa Mars Featured Image" style="max-width: 100%; max-height: 75%;">
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            
                            <h5 class="card-title">Current Weather on Mars</h5>
                            <p class="card-text">{{mars.tweet}}</p>
                        
                        </div>
                    </div>
                    <br>
                    <b><u><h4>Mars Facts</h4></u></b>
                    <div class="col-lg-5" style="text-align: center; ">
                        <div class="MarsTable">    
                            {{mars.MarsTable | safe}}
                        </div>
                    </div>
                </div>
            </div>
            <br>

            
            <b><u><h2 style="text-align: center;">Mars Hemispheres</h2></u></b>
            <div class="row row-cols-1 row-cols-md-2">
            {% for x in mars.HemisphereImg %} 
                <div class="col mb-4">
                    <div class="card">
                    <a href="{{x.img_url}}">
                    <img src="{{x.img_url}}" class="card-img-top" alt="{{x.title}} Hemisphere"></a>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{x.title}}</h5>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>



    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      </body>
    </html>


<!-- 
 class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div> -->